.about {
    padding: 5% 0;
}
.about a {
    color: #6F707E;
    border: 2px solid #6F707E;
    border-radius: 4px;
    padding: 0.2rem 0.4rem;
    margin-top: 4%;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.about a:before {
    content: url("../assets/icons/downloadICO.svg");
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.about a:hover {
    background-color: #c6c7cb;
}
