.about {
    padding: 5% 0;
}
.about__avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #e3e7e8;
    overflow: hidden;
    position: relative;
    margin-top: 4%;
}
.about__avatar img {
    width: 80%;
    height: 85%;
    position: absolute;
    bottom: 0;
    left: 20px;
    filter: grayscale(1);
}
.about a {
    display: inline-block;
    margin-top: 2%;
    text-decoration: none;
    width: fit-content;
    color: #6F707E;
    border: 2px solid #6F707E;
    border-radius: 4px;
    padding: 0.2rem 0.4rem;    
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.about a:before {
    content: url("../assets/icons/downloadICO.svg");
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.about a:hover {
    background-color: #c6c7cb;
}
