.comments {
    padding-top: 5%;    
}
.comments__title {
    margin-bottom: 4%;
}
.comments__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 0 1rem 0;
    font-family: 'Calibri', sans-serif;
    font-size: 17px;
    line-height: 21px;
    color: #243042;
    letter-spacing: -1px;
}
.comments__item-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 2.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.comments__item-description {
    margin-bottom: 1.5rem;
}
.comments__item-author span:nth-child(1) {
    font-weight: 700;
}
#carouselComments .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #cfd3d8;
}
#carouselComments .carousel-indicators button.active {
    background-color: #eb7800;
}
 @media screen and (max-width: 768px) {
    .comments__item {
        margin: 3rem 0 1rem 0;
    }
 }