.greeting {
    background: url("../assets/images/ava.png") right 5% bottom no-repeat, url("../assets/images/bg_about.jpg") center/cover no-repeat;    
    padding: 23% 0 9%;
}
.greeting__description {        
    -moz-animation: visible 3s cubic-bezier(.53,0,.11,.11);
    -webkit-animation: visible 3s cubic-bezier(.53,0,.11,.11);
    -o-animation: visible 3s cubic-bezier(.53,0,.11,.11);
    animation: visible 3s cubic-bezier(.53,0,.11,.11);
}
.greeting__title {
    font-weight: 400;
    font-size: 84px;
    line-height: 80px;
    color: #2C384A;
}
.greeting__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    color: #79818D;
    margin-top: 1.5rem;
}
.greeting__avatar {
    flex: 1 1 45%;
    padding-right: 2%;
    padding-top: 4%;
}
.greeting__avatar img {
    width: 100%;
    height: 100%;
}
.greeting__btn {
    margin-top: 3rem;
}
.greeting__btn a {
    text-decoration: none;
    margin-right: 1.5rem;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #6D7682;
    border: 2px solid #6D7682;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    -o-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.greeting__btn a:hover {
    background-color: lightgrey;
}
@-webkit-keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
