.greeting {
    background-image: url("../assets/images/bg_about.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.greeting > .wrapper {
    max-width: 1920px;
    display: flex;
}
.greeting__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 55%;
    text-align: center;
    justify-self: flex-end;
    padding: 0 4%;
}
.greeting__title {
    font-weight: 400;
    font-size: 84px;
    line-height: 80px;
    color: #2C384A;
}
.greeting__text {
    font-weight: 400;
    font-size: 21px;
    line-height: 20px;
    color: #79818D;
    margin-top: 1.5rem;
}
.greeting__avatar {
    flex: 1 1 45%;
    padding-right: 2%;
    padding-top: 4%;
}
.greeting__avatar img {
    width: 100%;
    height: 100%;
}
.greeting__btn {
    margin-top: 3rem;
}
.greeting__btn a {
    margin-right: 1.5rem;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    color: #6D7682;
    border: 2px solid #6D7682;
    border-radius: 4px;
    padding: 0.7rem 1rem;
}
