.header {
    padding: 1rem 3rem;
    background-color: #203133;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header > .wrapper {
    display: flex;
    justify-content: space-between;
}
.logo a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
    text-decoration: none;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    gap: 1rem;
}
.navbar a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    transition-duration: 0.8s;
    border-bottom: 3px solid #203133;
}
.navbar a:active {
    transform: scale(1.1);
}
.navbar a:hover {
    border-color: coral;
}
