.header {
    background-color: #203133;
    position: sticky;
    top: 0;
    z-index: 10;
}
.header a {
    text-decoration: none;
}
.header a:visited {
    color: #FFFFFF;
}
.header .burger {
    background-color: inherit;
    border: none;
}
.header li > a:visited {
    color: black;
}
.logo a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 23px;
    line-height: 25px;
}
.navbar a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-transform: uppercase;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    border-bottom: 3px solid #203133;
    margin-right: 0.5rem;
}
.navbar a:active {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.navbar a:hover {
    border-color: coral;
}
