.projects {
    padding: 5% 0;    
}
.projects__title {
    margin-bottom: 3.5%;
}
.project {
    display: grid;    
    grid-template-rows: 1fr repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    column-gap: 10%;
}
.project a {
    text-decoration: none;
    grid-column: 1;
    grid-row: 3;
    margin-top: 1rem;
    background-color: #63B5AE;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 21px;
    line-height: 21px;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.project a:hover {
    box-shadow: 0 0 5px black;
}
.project__img {
    grid-column: 1/3;
    grid-row: 1;
    margin-bottom: 4%;
}
.project__img img {
    width: 100%;
    height: 100%;
}
.project__customer {    
    grid-column: 1;
    grid-row: 2;    
}
.project__customer-attribute {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    margin: 1rem 0;
}
.project__customer-attribute:nth-child(1) {
    margin-top: 0;
}
.project__description {
    grid-column: 2;
    grid-row: 2;
}
.project__title {
    font-weight: 400;
    font-size: 25px;
    line-height: 21px;
    margin-bottom: 1rem;
}

@media  screen and (max-width: 768px) {
    .project {
        grid-template-rows: 1fr repeat(3, auto);
    }
    .projects__title {
        margin-bottom: 2rem;
    }
    .project__title {
        font-size: 1.5rem;
        text-align: center;        
    }
    .project__customer-attribute {
        font-size: 1.5rem;
    }
    .project__description {
        grid-column: 1/3;
        grid-row: 2;
        text-align: justify;
    }
    .project__customer {
        grid-column: 1/3;
        grid-row: 3;
    }
    .project a {
        grid-row: 4;
    }
}
