.skills {
    padding-top: 5%;
    padding-bottom: 3%;
    background: url("../assets/images/skillsBG.jpg") no-repeat center;
    background-size: cover;
}
.skills__title {
    margin-bottom: 5rem;
}
.skills__item {
    text-align: center;
}
.skills__item-title {
    margin: 2rem 0 1rem;
    font-weight: 600;
    font-size: 19px;
    line-height: 20px;
    color: #CF7600;
}

@media screen and (max-width: 576px) {
    .skills__title {
        margin-bottom: 3rem;
    }
}